.container
  .page-header
    %h1=@game.name
  -if current_user && current_user.participant?(@game)
    =link_to 'Make Draft Pick', new_game_team_pick_path(@game, current_user.participating_team(@game))
  -(1..@game.rounds).each do |round|
    %h2="Round #{round}"
    %table.table.table-striped
      %thead
        %tr
          %th Team
          %th Name
          %th From
          %th Position
      %tbody
        -@game.teams.order(:draft_order).each do |team|
          %tr
            %td=link_to team.name, game_team_path(@game, team)
            -if team.picks.find_by(round_drafted: round)
              %td=team.picks.find_by(round_drafted: round).name
              %td=team.picks.find_by(round_drafted: round).from
              %td=team.picks.find_by(round_drafted: round).position.name
            -else
              %td
              %td
              %td
